<!DOCTYPE html>
<html lang="en">
    <head>
        <title>rudiment</title>
        <% @include include/css-links.tmpl %>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div class=".container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <p>Welcome to rudiment.</p>
                </div>
            </div>
        </div>
    </body>
</html>
